<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>SICUN 2016</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/data.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script> -->
    <!-- <script src="js/angular-sanitize.min.js"></script> -->
</head>
<body ng-app="toBaba">
    <section class="area" id="page-1" data-page="1">
        <div id="page-1-content-wrapper">
            <img src="img/logo-white.png" alt="logo" class="logo">
            <p class="title">Hello, <span class="color-area"><span>B</span><span>a</span><span>b</span><span>a</span><span>!</span></span></p>
            <p class="line-1">/* Presented by SICUN STUDIO 2016 */</p>
        </div>
        <span class="page-bottom-indicator"></span>
    </section>
    <section class="area" id="page-2" data-page="2" ng-controller="g3">
        <div class="area-title">From 大三 import words;</div>
        <div class="card-box">
            <div class="card-container">
                <div class="card" ng-repeat="p in Data">
                    <div class="card-header">
                        <div class="avatar"><img src="img/avatar/{{ p.avatar }}" alt=""></div>
                        <div class="name">{{ p.name }}</div>
                    </div>
                    <div class="card-content" ng-bind-html="p.content | to_trusted"></div>

                </div>          
            </div>
        </div>
    </section>
     <section class="area" id="page-3" data-page="3" ng-controller="g2">
        <div class="area-title">From 大二 import words;</div>
        <div class="card-box">
            <div class="card-container">
                <div class="card" ng-repeat="p in Data">
                    <div class="card-header">
                        <div class="avatar"><img src="img/avatar/{{ p.avatar }}" alt=""></div>
                        <div class="name">{{ p.name }}</div>
                    </div>
                    <div class="card-content" ng-bind-html="p.content | to_trusted"></div>
                </div>            
            </div>
        </div>
    </section>

    <section class="area" id="page-4" data-page="4" ng-controller="gm">
        <div class="area-title">From 继承者们 import words;</div>
        <div class="card-box">
            <div class="card-container">
                <div class="card" ng-repeat="p in Data">
                    <div class="card-header">
                        <div class="avatar"><img src="img/avatar/{{ p.avatar }}" alt=""></div>
                        <div class="name">{{ p.name }}</div>
                    </div>
                    <div class="card-content" ng-bind-html="p.content | to_trusted"></div>
                </div>            
            </div>
        </div>
    </section> 

    <script src="js/ng-controller.js"></script>
    <script src="js/page.js"></script>
</body>
</html>